.box{
    width: 100px;
    height: 100px;
    background-color: #ff6e6e;
    border-radius: 5px;
    margin: 50px auto;
    animation: fade-out-right 1s ease-in-out forwards;
}

@keyframes fade-out-right {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100px);
    }
}